html {
    text-align: center;
}

iframe {
    width: 500px;
    height: 250px;
}

/*INCORRECT AND CORRECT MESSAGES*/
#q1_incorrect {
    display: none;
}

.incorrect_message {
    border: 3px solid red;
    margin: auto;
    width:fit-content;
    height:fit-content;
    margin-top: 5px;
}

.incorrect_image {
    display:inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    height: 50px;
}

.incorrect_text {
    display:inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
}